rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Polls Collection Rules
    match /polls/{pollId} {
      allow read, write: if true;
    }

    // Votes Subcollection Rules
    match /polls/{pollId}/votes/{voterUid} {
      allow read, create: if true;
      allow update, delete: if false;
    }
  }
}
